.weekly-meals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day {
    width: calc(20% - 20px); /* Günlerin genişliği, kenar boşlukları dahil */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

    .day:hover {
        transform: translateY(-5px);
    }

    .day h4 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333333;
    }

    .day .meal-list {
        margin: 0;
        padding: 0;
    }

        .day .meal-list li {
            margin-bottom: 10px;
            color: #666666;
        }

/* Tablo stilleri */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 30px; /* Tabloyu biraz aşağı kaydır */
}

    .table th,
    .table td {
        padding: 12px;
        border-bottom: 1px solid #dee2e6;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #e9ecef;
    }

/* Yemek isimleri */
.yemek-isimleri {
    font-family: 'Poppins', sans-serif; /* Yemek isimlerinin fontunu Poppins olarak değiştir */
    font-size: 18px; /* İstediğiniz boyuta ayarlayabilirsiniz */
    color: #444444;
}
